<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Funds</title>
</head>
<body>
     <h1><b>Credit Funds to Wallet</b></h1>
     <form action="/credit" method="POST">
        <label for="Wallet ID"> Wallet ID: </label>
        <input type="number" name="id" id="id">
        <br>
        <label for="Amount">Amount: </label>
        <input type="number" name="amount">
        <button type="submit">Credit</button>
     </form>
</body>
</html>