<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debit Funds</title>
</head>
<body>
    <h1><b>Debit Funds From Wallet</b></h1>

    <form action="/debit" method="POST">
        <label for="Wallet ID"> Wallet ID: </label>
        <input type="number" name="id" id="id">
        <br>
        <label for="Amount">Amount: </label>
        <input type="number" name="amount">
        <button type="submit">Debit</button>
     </form>
</body>
</html>